Olá, <strong>{{ deliveryman }}</strong>
<p>Você possui uma nova encomenda disponível para retirar.</p>
<p>

  <strong>Destinatário: </strong> {{ recipient }} <br />
	<strong>Endereço:</strong> {{ street }}, {{ number }} {{ complement }}, {{ city }} - {{ state }}, {{ zip_code }}<br />
  <strong>Produto:</strong> {{ product }} <br />
</p>
<p>
  Lembre-se: As encomendas devem ser retiradas em horário comercial e você poderá realizar somente 5 retiradas por dia.
</p>

