Olá, <strong>{{ deliveryman }}</strong>
<p>A encomenda <strong>#{{ delivery }} </strong>foi cancelada :(</p>
<p>Confira abaixo mais detalhes:</p>
<p><strong>Motivo:</strong> {{ reason }}</p>
<p>
  <strong>Destinatário: </strong> {{ recipient }} <br />
	<strong>Endereço:</strong> {{ street }}, {{ number }} {{ complement }}, {{ city }} - {{ state }}, {{ zip_code }}<br />
  <strong>Produto: </strong> {{ product }}
</p>

